<%= form_with(model: pcart) do |form| %>
  <% if pcart.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pcart.errors.count, "error") %> prohibited this pcart from being saved:</h2>

      <ul>
        <% pcart.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.text_field :product_id %>
  </div>

  <div>
    <%#= form.label :quantity, style: "display: block" %>
    <%#= form.number_field :quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
