<p><strong>Name: </strong><%= @product.name %></p>
<p><strong>Description: </strong><%= @product.description %></p>
<p><strong>Category ID: </strong><%= @product.category_id %></p>
<p><strong>Status: </strong><%= @product.status%></p>
<%# <p><strong>Image: </strong><br/> %>
<%# @product.productimage.each do |pimage| %>
<%#= image_tag pimage.image.url,size:10*10%>
<%# end %>
<%# </p> %>
<p><strong>Price: </strong><%= @product.price%></p>
<p><strong>User Id: </strong><%= @product.user_id%></p>